@model IEnumerable<DoAnDBMS.Models.VIEW_HOTRO>

@{
    ViewBag.Title = "HoTro";
    Layout = "~/Views/Share/LayoutPageNhanVien.cshtml";
}

<style>
    .text-right {
        margin-bottom: 10px;
    }
</style>

<div class="content">
    <div class="card shadow p-4">
        <h1 class="text-center">Hỗ trợ</h1>
        <br />
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
        <p class="text-right">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                Thêm mới hỗ trợ
            </button>
        </p>
        <hr />
        <table class="table table-bordered table-striped table-hover">
            <tr class="table table-dark">
                <th>
                    Mã phòng
                </th>
                <th>
                    Nội dung
                </th>
                <th>
                    Ngày gửi nội dung hỗ trợ
                </th>
                <th>
                    Trạng thái
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.MAPHONG
                    </td>
                    <td>
                        @item.NOIDUNG
                    </td>
                    <td>
                        @DateTime.Parse(item.NGAYGUI.ToString()).ToShortDateString()
                    </td>
                    @if (item.TRANGTHAI == true)
                    {
                        <td class="text-bg-success">
                            Đã xử lý
                        </td>
                    }
                    else
                    {
                        <td class="text-bg-danger">
                            Chưa xử lý
                        </td>
                    }
                </tr>
            }
        </table>

    </div>
</div>

<!-- Modal Thêm mới -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm mới hóa đơn phòng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form Thêm mới -->
                @using (Html.BeginForm("ThemHoTro", "NhanVien", FormMethod.Post, new { @class = "form" }))
                {
                    <label class="form-label">Mã phòng</label>
                    <div>
                        @Html.DropDownList("MaPhong", ViewBag.ID_Phong as SelectList, "Chọn Mã phòng", new
                   {
                       @class = "form-control",
                       @placeholder = "Chọn mã phòng"
                   })
                    </div>

                    <label class="form-label">Nội dung</label>
                    <div>
                        @Html.TextBox("NoiDung", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập nội dung"
                   })
                    </div>

                    <label class="form-label">Ngày gửi</label>
                    <div>
                        <input type="date" name="NgayGui" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary btn-center">Xác nhận</button>
                }
            </div>
        </div>
    </div>
</div>
