@model IEnumerable<DoAnDBMS.Models.VIEW_THANNHAN>
@{
    ViewBag.Title = "ThanNhan";
    Layout = "~/Views/Share/LayoutPageNhanVien.cshtml";
}

<style>
    .text-right {
        margin-bottom: 10px;
    }
</style>

<div class="content">
    <div class="card shadow p-4">
        <h1 class="text-center">Thân nhân</h1>
        <br />
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
        <p class="text-right">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                Thêm mới thân nhân
            </button>
        </p>
        <hr />
        <table class="table table-bordered table-striped table-hover">
            <tr class="table table-dark">
                <th>Họ tên</th>
                <th>Số điện thoại</th>
                <th>Quan hệ</th>
                <th>Tên sinh viên</th>
                <th>MSSV</th>
                <th>SDT sinh viên</th>
                <th>Ngày làm hợp đồng</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TENTN</td>
                    <td>@item.SDT_THANNHAN</td>
                    <td>@item.QUANHE</td>
                    <td>@item.TENSV</td>
                    <td>@item.MASV</td>
                    <td>@item.SDT_SINHVIEN</td>
                    <td>@DateTime.Parse(item.NGAYLAMHOPDONG.ToString()).ToShortDateString()</td>
                </tr>
            }
        </table>
    </div>
</div>

<!-- Modal Thêm mới -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm mới hóa đơn phòng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form Thêm mới -->
                @using (Html.BeginForm("ThemThanNhan", "NhanVien", FormMethod.Post, new { @class = "form" }))
                {
                    <label class="form-label">Mã sinh viên</label>
                    <div>
                        @Html.DropDownList("MASV", ViewBag.MASV as SelectList, "Chọn mã sinh viên", new
                   {
                       @class = "form-control",
                       @placeholder = "Chọn mã sinh viên"
                   })
                    </div>

                    <label class="form-label">Tên thân nhân</label>
                    <div>
                        @Html.TextBox("TenTN", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập tên thân nhân"
                   })
                    </div>

                    <label class="form-label">Số điện thoại</label>
                    <div>
                        @Html.TextBox("SDT", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập số điện thoại"
                   })
                    </div>

                    <label class="form-label">Quan hệ</label>
                    <div>
                        @Html.TextBox("QuanHe", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập quan hệ với sinh viên"
                   })
                    </div>

                    <br />
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                }
            </div>
        </div>
    </div>
</div>


