@model IEnumerable<DoAnDBMS.Models.VIEW_CANBO>

@{
    ViewBag.Title = "CanBo";
    Layout = "~/Views/Share/LayoutPageCanBo.cshtml";
}

<style>
    .text-right {
        margin-bottom: 10px;
    }
</style>

<div class="content">
    <div class="card shadow p-4">
        <h1 class="text-center">Cán bộ</h1>
        <p class="text-right">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                Thêm mới
            </button>
        </p>
        <hr />
        <table class="table table-bordered table-striped table-hover">
            <tr class="table table-dark">
                <th>Mã cán bộ</th>
                <th>Tài khoản</th>
                <th>Họ và tên</th>
                <th>Điện thoại</th>
                <th>Email</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MACB</td>
                    <td>@item.TAIKHOAN</td>
                    <td>@item.TENCB</td>
                    <td>@item.SDT</td>
                    <td>@item.EMAIL</td>
                </tr>
            }
        </table>
    </div>
</div>

<!-- Modal Thêm mới -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm mới cán bộ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form Thêm mới -->
                @using (Html.BeginForm("ThemCanBo", "CanBo", FormMethod.Post, new { @class = "form" }))
                {
                    <label class="form-label">Mã Cán bộ</label>
                    <div>
                        @Html.TextBox("MACB", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập mã cán bộ"
                   })
                    </div>

                    <label class="form-label">Tài khoản</label>
                    <div>
                        @Html.TextBox("TaiKhoan", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập tài khoản cán bộ"
                   })
                    </div>

                    <label class="form-label">Tên cán bộ</label>
                    <div>
                        @Html.TextBox("TenCB", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập tên cán bộ"
                   })
                    </div>

                    <label class="form-label">Số điện thoại</label>
                    <div>
                        @Html.TextBox("SDT", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập số điện thoại"
                   })
                    </div>

                    <label class="form-label">Email</label>
                    <div>
                        @Html.TextBox("Email", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập Email"
                   })
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary btn-center">Lưu</button>
                }
            </div>
        </div>
    </div>
</div>
