@model DoAnDBMS.Models.NHANVIEN
@{
    ViewBag.Title = "ChiTietNhanVien";
    Layout = "~/Views/Share/LayoutPageCanBo.cshtml";
}

<style>
    .text-right {
        margin-bottom: 10px;
    }
</style>

<div class="content">
    <div class="card shadow p-4">
        <h1 class="text-center">Nhân Viên @Model.TENNV</h1>
        <br />
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
        <hr />
        <table class="table table-bordered table-striped table-hover">
            <tr class="table table-dark">
                <th>Mã nhân viên</th>
                <th>Tên nhân viên</th>
                <th>Tài khoản</th>
                <th>Mật khẩu</th>
                <th>Giới tính</th>
                <th>CMND_CCCD</th>
                <th>Địa chỉ</th>
                <th>Email</th>
                <th>Số điện thoại</th>
                <th></th>
            </tr>
                <tr>
                    <td>@Model.MANV</td>
                    <td>@Model.TENNV</td>
                    <td>@Model.TAIKHOAN</td>
                    <td>@Model.MATKHAU</td>
                    @if (Model.GIOITINH == true)
                    {
                        <td>Nam</td>
                    }
                    else
                    {
                        <td>Nữ</td>
                    }
                    <td>@Model.CMND_CCCD</td>
                    <td>@Model.DIACHI</td>
                    <td>@Model.EMAIL</td>
                    <td>@Model.SDT</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                            Sửa thông tin
                        </button>
                    </td>
                </tr>
        </table>
    </div>
</div>

<!-- Modal Thêm mới -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm mới hóa đơn phòng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form Thêm mới -->
                @using (Html.BeginForm("SuaNhanVien", "CanBo", FormMethod.Post, new { @class = "form" }))
                {
                    @Html.Hidden("ID",Model.ID_NHANVIEN)
                    <label class="form-label">Mã nhân viên</label>
                    <div>
                        @Html.TextBox("MANV", Model.MANV, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập mã nhân viên"
                   })
                    </div>

                    <label class="form-label">Tên nhân viên</label>
                    <div>
                        @Html.TextBox("TenNV", Model.TENNV, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập tên nhân viên"
                   })
                    </div>

                    <label class="form-label">Tài khoản</label>
                    <div>
                        @Html.TextBox("TaiKhoan", Model.TAIKHOAN, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập tài khoản nhân viên"
                   })
                    </div>

                    <label class="form-label">Mật khẩu</label>
                    <div>
                        @Html.TextBox("MatKhau", Model.MATKHAU, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập mật khẩu"
                   })
                    </div>

                    <label class="form-label">Giới tính </label>
                    <div>
                        @Html.DropDownList("GioiTinh", ViewBag.GioiTinhList as List<SelectListItem>, "Chọn giới tính", new { @class = "form-control" })
                    </div>

                    <label class="form-label">CMND_CCCD</label>
                    <div>
                        @Html.TextBox("CMND", Model.CMND_CCCD, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập CMND_CCCD"
                   })
                    </div>

                    <label class="form-label">Địa chỉ</label>
                    <div>
                        @Html.TextBox("DiaChi", Model.DIACHI, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập địa chỉ"
                   })
                    </div>

                    <label class="form-label">Email</label>
                    <div>
                        @Html.TextBox("Email", Model.EMAIL, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập email"
                   })
                    </div>

                    <label class="form-label">Số điện thoại</label>
                    <div>
                        @Html.TextBox("SDT", Model.SDT, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập số điện thoại"
                   })
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                }
            </div>
        </div>
    </div>
</div>


