@model IEnumerable<DoAnDBMS.Models.VIEW_DONGIA>

@{
    ViewBag.Title = "DonGia";
    Layout = "~/Views/Share/LayoutPageCanBo.cshtml";
    DoAnDBMS.Models.CANBO TaiKhoan = Session["Account"] as DoAnDBMS.Models.CANBO;
}

<style>
    .text-right {
        margin-bottom: 10px;
    }
</style>

<div class="content">
    <div class="card shadow p-4">
        <h1 class="text-center">Đơn giá</h1>
        <br />
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
        @if (TaiKhoan.QUANTRI == true)
        {
            <p class="text-right">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                    Thêm mới đơn giá
                </button>
            </p>
        }
        <hr />
        <table class="table table-bordered table-striped table-hover">
            <tr class="table table-dark">
                <th>Mã đơn giá</th>
                <th>Đơn giá điện</th>
                <th>Đơn giá nước</th>
                <th>Trạng Thái</th>
                <th>Ngày áp dụng</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.MADONGIA
                    </td>
                    <td>
                        @item.DONGIADIEN
                    </td>
                    <td>
                        @item.DONGIANUOC
                    </td>
                    @if (item.TRANGTHAI == true)
                    {
                        <td>Đang áp dụng</td>
                    }
                    else
                    {
                        <td>Chua áp dụng</td>
                    }
                    <td>
                        @DateTime.Parse(item.NGAYAPDUNG.ToString()).ToShortDateString()
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<!-- Modal Thêm mới -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm mới hóa đơn phòng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form Thêm mới -->
                @using (Html.BeginForm("ThemDonGia", "CanBo", FormMethod.Post, new { @class = "form" }))
                {
                    <label class="form-label">Mã đơn giá</label>
                    <div>
                        @Html.TextBox("MaDonGia", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập mã đơn giá"
                   })
                    </div>

                    <label class="form-label">Đơn giá điện</label>
                    <div>
                        @Html.TextBox("DonGiaDien", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập đơn giá điện"
                   })
                    </div>

                    <label class="form-label">Đơn giá nước</label>
                    <div>
                        @Html.TextBox("DonGiaNuoc", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập đơn giá nước"
                   })
                    </div>

                    <label class="form-label">Ngày áp dụng</label>
                    <div>
                        <input type="date" name="NgayApDung" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Lưu</button>
                }
            </div>
        </div>
    </div>
</div>
