@model IEnumerable<DoAnDBMS.Models.VIEW_HoaDonDienNuoc>

@{
    ViewBag.Title = "HoaDonDienNuoc";
    Layout = "~/Views/Share/LayoutPageCanBo.cshtml";
}

<style>
    .text-right {
        margin-bottom: 10px;
    }
</style>

<div class="content">
    <div class="card shadow p-4">
        <h1 class="text-center">Hóa đơn điện nước</h1>
        <br />
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
        <hr />
        <table class="table table-bordered table-striped table-hover">
            <tr class="table table-dark">
                <th>Mã dãy phòng</th>
                <th>Mã Phòng</th>
                <th>Điện tháng trước</th>
                <th>Điện tháng này</th>
                <th>Chỉ số điện</th>
                <th>Nước tháng trước</th>
                <th>Nước tháng này</th>
                <th>Chỉ số nước</th>
                <th>Tiền điện</th>
                <th>Tiền nước</th>
                <th>Thành tiền</th>
                <th>Tháng lập</th>
                <th>Năm lập</th>
                <th>Trạng thái hóa đơn</th>
            </tr>

            @foreach (var item in Model)
            {
                var ChiSoDien = item.ChiSoCuoiDien - item.ChiSoDauDien;
                var ChiSoNuoc = item.ChiSoCuoiNuoc - item.ChiSoDauNuoc;
                var TienDien = ChiSoDien * item.DonGiaDien;
                var TienNuoc = ChiSoNuoc * item.DonGiaNuoc;
                var ThanhTien = TienDien + TienNuoc;
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DayPhong)</td>
                    <td>@Html.DisplayFor(modelItem => item.MaPhong)</td>
                    <td>@Html.DisplayFor(modelItem => item.ChiSoDauDien)</td>
                    <td>@Html.DisplayFor(modelItem => item.ChiSoCuoiDien)</td>
                    <td>@ChiSoDien</td>
                    <td>@Html.DisplayFor(modelItem => item.ChiSoDauNuoc)</td>
                    <td>@Html.DisplayFor(modelItem => item.ChiSoCuoiNuoc)</td>
                    <td>@ChiSoNuoc</td>
                    <td>@TienDien</td>
                    <td>@TienNuoc</td>
                    <td>@ThanhTien</td>
                    <td>@item.THANG</td>
                    <td>@item.NAM</td>
                    @if (item.TRANGTHAI == true)
                    {
                        <td>Đã thu tiền</td>
                    }
                    else
                    {
                        <td>Chưa thu tiền</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>