@model IEnumerable<DoAnDBMS.Models.VIEW_HOADONPHONG>

@{
    ViewBag.Title = "HoaDonPhong";
    Layout = "~/Views/Share/LayoutPageCanBo.cshtml";
}

<style>
    .text-right {
        margin-bottom: 10px;
    }
</style>

<div class="content">
    <div class="card shadow p-4">
        <h1 class="text-center">Hóa đơn phòng</h1>
        <br />
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
        <p class="text-right">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                Thêm mới
            </button>
        </p>
        <hr />
        <table class="table table-bordered table-striped table-hover">
            <tr class="table table-dark">
                <th>
                    Mã dãy phòng
                </th>
                <th>
                    Mã Phòng
                </th>
                <th>
                    Năm
                </th>
                <th>
                    Kỳ
                </th>
                <th>
                    Đơn giá phòng
                </th>
                <th>
                    Hóa đơn điện nước
                </th>
                <th>Thành tiền</th>
                <th>
                    Trang thái
                </th>
                <th>Hành động</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MADAYPHONG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MAPHONG)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NAM)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KY)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DONGIA)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.THANHTIEN_HOADON_DIENNUOC)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.THANHTIEN_DONGIAPHONG_HDDN)</td>
                    @if (item.TRANGTHAI == true)
                    {
                        <td>Đã thu tiền</td>
                    }
                    else
                    {
                        <td>Chưa thu tiền</td>
                        <td>
                            @using (Html.BeginForm("ChinhSua_HDP_HDDN", "CanBo"))
                            {
                                @Html.Hidden("MaDayPhong", item.MADAYPHONG)
                                @Html.Hidden("MaPhong", item.MAPHONG)
                                @Html.Hidden("Nam", item.NAM)
                                @Html.Hidden("Ky", item.KY)
                                <button class="btn btn-primary" type="submit">Xác nhận đã thu tiền</button>
                            }
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
