@model IEnumerable<DoAnDBMS.Models.VIEW_Phong>

@{
    ViewBag.Title = "Phong";
    Layout = "~/Views/Share/LayoutPageCanBo.cshtml";
    DoAnDBMS.Models.CANBO TaiKhoan = Session["Account"] as DoAnDBMS.Models.CANBO;

}

<style>
    .text-right {
        margin-bottom: 10px;
    }
</style>

<div class="content">
    <div class="card shadow p-4">
        <h1 class="text-center">Phòng</h1>
        <br />
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
        @if (TaiKhoan.QUANTRI == true)
        {
            <p class="text-right">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                    Thêm mới phòng
                </button>
            </p>
        }
        <hr />
        <table class="table table-bordered table-striped table-hover">
            <tr class="table table-dark">
                <th>Dãy phòng</th>
                <th>Mã Phòng</th>
                <th>Tài khoản</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Mô tả khác</th>
                <th>Tình trạng</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID_DAY</td>
                    <td>@item.MAPHONG</td>
                    <td>@item.TAIKHOAN</td>
                    <td>@item.SOLUONGSV</td>
                    <td>@item.DONGIA</td>
                    <td>@item.MOTAKHAC</td>
                    <td>@item.TINHTRANG</td>
                    @if (item.TRANGTHAI == true)
                    {
                        <td>Có người ở</td>
                    }
                    else
                    {
                        <td>Không có người ở</td>
                    }
                    <td>
                        <a href="@Url.Action("ThongTinPhong", "CanBo", new { @maphong = item.MAPHONG }, null)" class="btn btn-primary">Chi Tiết</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<!-- Modal Thêm mới -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm mới hóa đơn phòng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form Thêm mới -->
                @using (Html.BeginForm("ThemPhong", "CanBo", FormMethod.Post, new { @class = "form" }))
                {
                    <label class="form-label">Mã dãy phòng</label>
                    <div>
                        @Html.DropDownList("MaDayPhong", ViewBag.ID_DAY as SelectList, "Chọn dãy phòng", new
                   {
                       @class = "form-control",
                       @placeholder = "Chọn dãy phòng"
                   })
                    </div>

                    <label class="form-label">Mã phòng</label>
                    <div>
                        @Html.TextBox("MaPhong", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập mã phòng"
                   })
                    </div>

                    <label class="form-label">Tài Khoản</label>
                    <div>
                        @Html.TextBox("TaiKhoan", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập tài khoản"
                   })
                    </div>

                    <label class="form-label">Mật khẩu</label>
                    <div>
                        @Html.TextBox("MatKhau", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập mật khẩu"
                   })
                    </div>

                    <label class="form-label">Số lượng sinh viên</label>
                    <div>
                        @Html.TextBox("SLSV", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập số lượng sinh viên"
                   })
                    </div>

                    <label class="form-label">Đơn giá</label>
                    <div>
                        @Html.TextBox("DonGia", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập đơn giá"
                   })
                    </div>

                    <label class="form-label">Tình trạng</label>
                    <div>
                        @Html.TextBox("TinhTrang", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập tình trạng hiện tại của phòng"
                   })
                    </div>

                    <label class="form-label">Mô tả khác</label>
                    <div>
                        @Html.TextBox("MoTaKhac", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập mô tả khác của phòng"
                   })
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                }
            </div>
        </div>
    </div>
</div>
