@model DoAnDBMS.Models.PHONG
@{
    ViewBag.Title = "ThongTinPhong";
    Layout = "~/Views/Share/LayoutPageCanBo.cshtml";
}

<style>
    .text-right {
        margin-bottom: 10px;
    }
</style>

<div class="content">
    <div class="card shadow p-4">
        <h1 class="text-center">Thông tin phòng @Model.MAPHONG</h1>
        <br />
        <hr />
        <table class="table table-bordered table-striped table-hover">
            <tr class="table table-dark">
                <th>ID_DAY</th>
                <th>Dãy phòng</th>
                <th>ID_PHONG</th>
                <th>Mã Phòng</th>
                <th>Tài khoản</th>
                <th>Mật khẩu</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Mô tả khác</th>
                <th>Tình trạng</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
            <tr>
                <td>@Model.ID_DAY</td>
                <td>@ViewBag.ThongTinDayPhong</td>
                <td>@Model.ID_PHONG</td>
                <td>@Model.MAPHONG</td>
                <td>@Model.TAIKHOAN</td>
                <td>@Model.MATKHAU</td>
                <td>@Model.SOLUONGSV</td>
                <td>@Model.DONGIA</td>
                <td>@Model.MOTAKHAC</td>
                <td>@Model.TINHTRANG</td>
                @if (Model.TRANGTHAI == true)
                {
                    <td>Có người ở</td>
                }
                else
                {
                    <td>Không có người ở</td>
                }
                <td>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                        Sửa thông tin phòng
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- Modal Thêm mới -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm mới hóa đơn phòng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form Thêm mới -->
                @using (Html.BeginForm("SuaThongTinPhong", "CanBo", FormMethod.Post, new { @class = "form" }))
                {
                    @Html.Hidden("ID_PHONG", Model.ID_PHONG)
                    <label class="form-label">Mã dãy phòng</label>
                    <div>
                        @Html.DropDownList("MaDayPhong", ViewBag.ID_DAY as SelectList, "Chọn dãy phòng", new
                   {
                       @class = "form-control",
                       @placeholder = "Chọn dãy phòng"
                   })
                    </div>

                    <label class="form-label">Mã phòng</label>
                    <div>
                        @Html.TextBox("MaPhong", Model.MAPHONG, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập mã phòng"
                   })
                    </div>

                    <label class="form-label">Tài Khoản</label>
                    <div>
                        @Html.TextBox("TaiKhoan", Model.TAIKHOAN, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập tài khoản"
                   })
                    </div>

                    <label class="form-label">Mật khẩu</label>
                    <div>
                        @Html.TextBox("MatKhau", Model.MATKHAU, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập mật khẩu"
                   })
                    </div>

                    <label class="form-label">Số lượng sinh viên</label>
                    <div>
                        @Html.TextBox("SLSV", Model.SOLUONGSV, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập số lượng sinh viên"
                   })
                    </div>

                    <label class="form-label">Đơn giá</label>
                    <div>
                        @Html.TextBox("DonGia", Model.DONGIA, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập đơn giá"
                   })
                    </div>

                    <label class="form-label">Tình trạng</label>
                    <div>
                        @Html.TextBox("TinhTrang", Model.TINHTRANG, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập tình trạng hiện tại của phòng"
                   })
                    </div>

                    <label class="form-label">Mô tả khác</label>
                    <div>
                        @Html.TextBox("MoTaKhac", Model.MOTAKHAC, new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập mô tả khác của phòng"
                   })
                    </div>

                    <label class="form-label">Có người ở</label>
                    <input type="checkbox" name="TrangThai" value="true" />

                    <br />
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                }
            </div>
        </div>
    </div>
</div>